<nav id="nav">
  <a href="/teacher" class="fa fa-home">Teacher Homepage</a>
  <a href="/teacher/student" class="fa fa-users">View All Students</a>
  <a><button id="logout" class="create-button">Logout</button></a>
</nav>