<nav id="nav">
  <div id="welcome-user">
    <h3>Hello, </h3>
    <h4>{{teacherData.first}} {{teacherData.last}}</h4>
  </div>
  <a href="/teacher" class="fa fa-home">Teacher Homepage</a>
  <a href="/teacher/student" class="fa fa-users">View All Students</a>
  <a
    href="/teacher/attendance/new-attendance"
    class="fa fa-user fa-attendance"
  >Take Attendance</a>
  <a href="/teacher/student/new-student" class="fa fa-user new-add">Add Student</a>
  <a
    href="/teacher/student/guardian/new-guardian"
    class="fa fa-users new-add"
  >Add Guardian</a>
  <a
    href="/teacher/communication/new-communication"
    class="fa fa-envelope new-record"
  >Add Communication Record</a>
  <a href="/teacher/behavior/new-behavior" class="fa fa-child new-record">Add
    Behavior Record</a>
  <a><button id="logout" class="create-button">Logout</button></a>
</nav>