<ul class="list-group list-group-flush">
  <li class="list-group-item">Method: {{data3.0.communicationMethod}}</li>
  <li class="list-group-item">Date: {{data3.0.dateOfCommunication}}</li>
  <li class="list-group-item">Notes: {{data3.0.description}}</li>
  <li class="list-group-item">Follow Up Needed?: {{data3.0.followUpNeeded}}</li>
</ul>