<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">
      Error in loading page. Please try again later.</h1>
    <h2>
      Back to
      <a href="/"> Homepage</a>
    </h2>
  </div>
</div>