<div>
{{#if loggedIn}}
<a href="/teacher"><button type="button" class=" Bck-Home btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>

<div class="d-flex justify-content-around">
    {{#each studentData as |student|}}
    <div>
        {{>student_card}}
    </div>
    {{/each}}
</div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
  </div>
