<a href="/teacher"><button type="button" class="btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>

{{#if loggedIn}}
<section class="container d-flex">
<div class= "justify-content-around">
    {{#each studentData as |student|}}
    <div class="col">
        {{>student_card}}
    </div>
    {{/each}}
</div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
  </div>
</section>