

{{#if loggedIn}}
<a href="/teacher"><button type="button" class="create-button">Back to Teacher Homepage</button></a>
<h1 class= "invisible-text">Current Student Roster</h1>
<section class="container d-flex justify-content-around">
    {{#each studentData as |student|}}
    <div class="card">
        {{>student_card}}
    </div>
    {{/each}}
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
  </div>
</section>