

{{#if loggedIn}}
{{>full_nav}}
<h1 class= "invisible-text">Current Student Roster</h1>
<section class="student-container d-flex justify-content-around flex-wrap">
    {{#each studentData as |student|}}
    <div class="student-card">
        {{>student_card}}
    </div>
    {{/each}}
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
  </div>
</section>
