<a href="/teacher"><button type="button" class="btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>

{{#if loggedIn}}
<section class="container d-flex justify-content-between">
    {{#each studentData as |student|}}
    <div class="card">
        {{>student_card}}
    </div>
    {{/each}}
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
  </div>
</section>