
{{!-- need to pull data from guardian --}}
<div class = "container">
  <div class="well well-sm show-contact">

<div class = "row">
    <div class="col-md-12">
        <div class="row"> 
            <div class="col-md-4">
                <h1 class="title-contact"> Guardian contact </h1>
                    </div>
                    <div class="col-md-4 contact-email">
                        <h2> Guardian Name </h2>
                        <h2> email@email.com </h2>
                        <h3> (123) 456-7980 </h3>
                    </div>

                    </div>
                </div>
            </div>
        </div>