<<<<<<< HEAD
  {{!-- <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link type="css" href="/public/styles/styles.css" rel="stylsheet"> --}}
<body>
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5 logo">Teacher Force</h1>
            <p class="lead">Welcome to Teacher Force! An admin tool for teachers.</p>
​
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <h5>WEEKLY VIEW</h5>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
        </div>
        </nav>
    </div>
​
    <div class="container">
        <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Register Your Child</a>
  </div>
</div>
</div>
=======
<div class="jumbotron">
  <div class="container">
    <h1 class="display-5" logo”>Teacher Force</h1>
    <p class="lead">Welcome to Teacher Force! An admin tool for teachers.</p>
    <nav class="navbar" navbar-expand-lg navbar-light bg-light”>
      <a class="navbar-brand" href="#">
        <h5>WEEKLY VIEW</h5>
      </a>
      <form class="form-inline" my-2 my-lg-0”>
        <input
          class="form-control"
          mr-sm-2”
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn"
          btn-outline-primary
          my-2
          my-sm-0”
          type="submit"
        >Search</button>
      </form>
    </nav>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-header">
      </div>
    </div>
  </div>
</div>
>>>>>>> main
