<<<<<<< HEAD
<div class="jumbotron">
  <div class="container">
    <img src="logo.svg" alt=""/>
    <p class="lead">Welcome to Teacher Force! An admin tool for teachers.</p>
=======
<div class= "homepage">
>>>>>>> main



  {{#if loggedIn}}

    <div class="jumbotron">
      <div class="container">
        <img src="logo.svg" alt="" />
        <h1 id= "h1-homepage"> Welcome to Teacher Force!</h1>

        <nav class="d-flex justify-content-space-between">
          <a href="teacher/student"><button
              type="button"
              class="btn btn-primary btn-lg"
            >View All Students</button></a>
          <a href="#"><button type="button" class="btn btn-primary btn-lg">Take
              Attendance</button></a>
          <a href="#"><button type="button" class="btn btn-primary btn-lg">Add
              Communication Record</button></a>
          <a href="teacher/behavior/new-behavior"><button
              type="button"
              class="btn btn-primary btn-lg"
            >Add Behavior Record</button></a>
        </nav>
      </div>
        {{! possible future feature search bar }}
        {{! <form class="form-inline" my-2 my-lg-0”>
        <input class="form-control" mr-sm-2” type="search" placeholder="Search" aria-label="Search" />
        <button class="btn" btn-outline-primary my-2 my-sm-0” type="submit">Search</button>
      </form> }}
      </div>
      <div class="container-homepage">
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Recent Assignments</h5>
            <div class="d-flex justify-content-between">
              <h6>Title</h6>
              <h6>Due Date</h6>
            </div>
          </div>
          <ul class="assignments list-group-flush">
            {{#each assignmentData as |assignment|}}
              <li class="list-group-item d-flex justify-content-between">
                <div>
                  {{assignment.title}}
                </div>
                <div>
                  {{assignment.dueDate}}
                </div>
              </li>
            {{/each}}
            <a href="teacher/assignment/new-assignment"><button
                type="button"
                class="btn btn-secondary btn-sm"
              >Create New Assignment</button></a>
          </ul>
        </div>
        <div class="card" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Riddle Placeholder</h5>
            <div class="d-flex justify-content-between">
            </div>
<<<<<<< HEAD
          </li>
        {{/each}}
        <a href="teacher/assignment/new-assignment"><button type="button" class="btn btn-secondary btn-sm">Create New Assignment</button></a>
      </ul>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Fun quote, riddle, or joke of the Day! </h5>
        <div class="d-flex justify-content-between">
=======
          </div>
>>>>>>> main
        </div>
      </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>
<footer>
  
</footer>
