<div>
  {{#if loggedIn}}
    <a href="/teacher"><button type="button" class="create-button">Back to Teacher Homepage</button></a>

    <div class="new-student-card">
      <form action="/teacher/student/new-student" method="POST">
        <ul>
          <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName" />
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"></input>
            <label for="teacherId">Teacher: </label>
            <select id="teacherId" name="teacherId">
            {{#each teacherData as |teacher|}}
            {{>teacher_name_list}}
            {{/each}}
            </select>
        </ul>
        <div class="button">
          <button type="submit">Create Student</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>