<div>
  {{#if loggedIn}}
    <a href="/teacher"><button type="button" class="Bck-Home btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>

    <div class="d-flex">
      <form action="/teacher/student/new-student" method="POST">
        <ul>
          <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName" />
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"></input>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email"></input>
            <label for="phoneNumber">Phone (no dashes): </label>
            <input type="text" id="phoneNumber" name="phoneNumber"></input>
        </ul>
        <div class="button">
          <button type="submit">Add Guardian</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>