<div class="new-beavior-card" >
  {{#if loggedIn}}
    <a href="/teacher"><button
        type="button"
        class="Bck-Home btn btn-secondary btn-sm"
      >Back to Teacher Homepage</button></a>

    <div>
      <form action="/teacher/behavior/new-behavior" method="POST">
        <ul>
          <div>
            <label for="title">Behavior Title: </label>
            <input type="text" id="title" name="title" />
            <label for="actionItems">Follow-Up Steps Needed: </label>
            <input type="text" id="actionItems" name="actionItems" />
            <label for="isGoodTrue">Behavior is Positive</label>
            <input type="checkbox" id="isGoodTrue" name="isGood" value="true" />
            <label for="isGoodFalse">Behavior is Concerning </label>
            <input
              type="checkbox"
              id="isGoodFalse"
              name="isGood"
              value="false"
            />
            <label for="studentId">Student: </label>
            <select id="studentId" name="studentId">
            {{#each studentData as |student|}}
            {{>student_name_list}}
            {{/each}}
            </select>
          </div>
        </ul>
        <labe id="description-tag"for="description">Details: </label>
          <textarea id="descripton" name="description" rows="2" cols="100">
           
          </textarea>
        </label>

        <div class="button">
          <button type="submit">Save Behavior</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>