<div>
  {{#if loggedIn}}
  <nav id="nav">
  <a href="/teacher" class="fa fa-home">Back to Teacher Homepage</a>
  <a href="/teacher/student" class="fa fa-users">Back to All Students</a>
  <button id="logout" class="create-button position-absolute top-0 end-0">Logout</button>
</nav>
    <div class="new-guardian-card">
      <form action="/teacher/student/guardian/new-guardian" method="POST">
        <ul>
          <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName" />
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"></input>
            <label for="email">Email: </label>
            <input type="text" id="email" name="email"></input>
            <label for="phoneNumber">Phone (no dashes): </label>
            <input type="text" id="phoneNumber" name="phoneNumber"></input>
        </ul>
        <div>
          <label for="studentId">Student: </label>
            <select id="studentId" name="studentId">
              {{#each studentData as |student|}}
              {{>student_name_list}}
              {{/each}}
            </select>
        </div>
        <div class="button">
          <button type="submit">Add Guardian</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>