<form method="POST">
  <ul>
    <li>
      <label for="title">Name of Assignment: </label>
      <input type="text" id="title" name="title" />
      <label for="description">Details: </label>
      <textarea type="text" id="description" name="description"></textarea>
      <label for="dueDate">Due Date: </label>
      <input type="date" id="dueDate" name="dueDate" />
      <label for="assignedStatus">Check if has been assigned: </label>
      <input type="checkbox" id="assignedStatus" name="assignedStatus" />
    </li>
  </ul>
</form>