<div>
  {{#if loggedIn}}
   {{>back_nav}}
    <div class="new-card">
      <form action="/teacher/student/new-student" method="POST">
        <ul>
          <div>
            <label for="firstName">First Name: </label>
            <input type="text" id="firstName" name="firstName" />
            <label for="lastName">Last Name: </label>
            <input type="text" id="lastName" name="lastName"></input>
        </ul>
        <div >
          <button class="student-button" type="submit">Create Student</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>