<div>
  {{#if loggedIn}}
    <a href="/teacher"><button type="button" class="Bck-Home btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>