
<div>
  {{#if loggedIn}}
  {{>back_nav}}
    <div class="new-card">
      <form action="/teacher/assignment/new-assignment" method="POST">
        <ul>
          <div>
            <label for="title">Name of Assignment: </label>
            <input type="text" id="title" name="title" />
            <label for="dueDate">Due Date: </label>
            <input type="date" id="dueDate" name="dueDate"></input>
            <br>
            <label for="assignedStatusTrue">Already assigned:
            </label>
            Yes
            <input
              type="radio"
              id="assignedStatusTrue"
              name="assignedStatus"
              value="true"
            />
            No
            <input
              type="radio"
              id="assignedStatusFalse"
              name="assignedStatus"
              value="false"
            />
          </div>
        </ul>
         <label id="description-tag"for="description">Details: </label>
          <textarea id="descripton" name="description" >
          </textarea>
        <div class="button">
          <button type="submit">Create Assignment</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}

</div>