<div>
  {{#if loggedIn}}
   <a href="/teacher"><button type="button" class="create-button">Back to Teacher Homepage</button></a>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>