<div>
  {{#if loggedIn}}
  {{>back_nav}}
  <div class="new-card">
    <form action="/teacher/communication/new-communication" method="POST">
      <label for="communicationMethod">Communication Method: </label>
        <select id="communicationMethod" name="communicationMethod">
          <option value="email">Email</option>
          <option value="phone-call">Phone Call</option>
          <option value="meeting">Meeting</option>
        </select>
      <label for="description">Details: </label>
        <textarea
          type="text"
          id="description"
          name="description"
        ></textarea>
      <label for="dateOfCommunication">Date: </label>
        <input
          type="date"
          id="dateOfCommunication"
          name="dateOfCommunication"
        />
      <label for="followUpNeededTrue">Further follow up
        needed?
      </label>
        Yes
        <input
          type="radio"
          id="followUpNeededTrue"
          name="followUpNeeded"
          value="true"
        />
        No
        <input
          type="radio"
          id="followUpNeededFalse"
          name="followUpNeeded"
          value="false"
        />
      <label for="studentId">Student: </label>
        <select id="studentId" name="studentId">
        {{#each studentData as |student|}}
        {{>student_name_list}}
        {{/each}}
        </select>
        <div>
          <button  class="student-button"type="submit" href="/teacher/student" >Save Communication</button>
        </div>
      </form>
    </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>