<div>
  {{#if loggedIn}}
      <nav id="nav">
          {{!-- <div>
          <a href="/teacher/attendance" class="fa fa-users">View All Attendance</a>
          </div> --}}
          <a href="/teacher" class="fa fa-home" id="home">Back to Teacher Homepage</a>
        </nav>
        <h1 class="page-title">Attendance</h1>
        <div id="form-background">
        <form id="attendance-form" action="/teacher/attendance/new-attendance" method="POST">
          <table class="table">
            <thead>
              <tr class="table-headers">
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Present</th>
                <th scope="col">Time</th>
                <th scope="col">Notes</th>
              </tr>
            </thead>
            <tbody>
        {{#each studentData as |student|}}
          <tr id="each-attendance">
            <td id="attendance-student-name">
            {{student.firstName}}
            </td>
            <td id="attendance-student-name">
            {{student.lastName}}
            </td>
            <td id="attendance-present">
              <select id="isPresent" name="isPresent">
                <option id="student-present" value="true">Present</option>
                <option id="student-absent" value="false">Absent</option>
            </td>
            <td id="attendance-time">
              <input type="text" id="time" name="time">
            </td>
            <td id="attendance-notes">
              <input type="text" id="notes" name="notes">
            </td>
            <td id="studentId">
              <input type="hidden" value={{student.id}} name="studentId">
            </td>
            </tr>
        {{/each}}
        </tbody>
        </table>
        <div class="break" id="save-attendance-div">
        <button id="save-attendance-btn" type="submit">Save</button>
        </div>
        </form>
        </div>
  {{else}}
    <a href="/login">Click here to login</a>
  {{/if}}
</div>