
<div>
{{#if loggedIn}}
<nav id="nav">
  <a href="/teacher" class="fa fa-home">Back to Teacher Homepage</a>
  <a href="/teacher/student" class="fa fa-users">Back to All Students</a>
  <button id="logout" class="create-button position-absolute top-0 end-0">Logout</button>
</nav>
<div class="new-card" >
  <form action="/teacher/behavior/new-behavior" method="POST">
    <label for="title">Behavior Title: </label>
      <input type="text" id="title" name="title" />
    <label id="description-tag"for="description">Details: </label>
    </label>
      <textarea id="description" name="description">
      </textarea>
    <label for="immediateActionTaken">Immediate Action I Took: </label>
      <select id="immediateActionTaken" name="immediateActionTaken">
        <option value="Discussed privately in hallway">Discussed privately in hallway</option>
        <option value="Sent to office">Sent to Office</option>
        <option value="Nothing (no need)">Nothing I needed to do immediately</option>
      </select>
    <label for="isGood">Behavior type:</label>
    Positive
      <input 
      type="radio" 
      id="isGoodTrue" 
      name="isGood" 
      value="true" 
      />
    Negative
      <input
        type="radio"
        id="isGoodFalse"
        name="isGood"
        value="false"
      />
    <label class="studentId" for="studentId">Student: </label>
      <select id="studentId" name="studentId">
      {{#each studentData as |student|}}
      {{>student_name_list}}
      {{/each}}
      </select>
      <div>
        <button class="student-button" type="submit">Save Behavior</button>
      </div>
  </form>
  </div>
  {{else}}
    <a href="/login">Click here to login</a>
{{/if}}

</div>