<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">You have not added any students yet.</h1>
    <h2>
      Click
      <a href="/teacher/student/new-student">
        here
      </a>to add a student.</h2>
    <h2>Click
      <a href="/teacher">here</a>
      to go back to the teacher homepage.
    </h2>
  </div>
</div>