<!-- Register Page -->
<link rel = "stylesheet" href = "./register.css">
<div class="container register">
                <div class="row">
                    <div class="col-md-3 register-top">
                        <img src="logo.svg" alt=""/>
                        <h1>Welcome to Teacher Force</h1>
                        <h2>Register to get started!</h2>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-below">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Please enter your information below</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" name= "firstName"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last Name *" name="lastName"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="email  *" id ="email-signup" name="email"/>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="Password *"  name= "password"/>
                                        </div>
                                        {{!-- <div class="form-group">
                                            <input type="password" class="form-control"  placeholder="Confirm Password *" value="" /> --}}
                                        {{!-- </div> --}}
                                        <div class="form-group">
                                            <div class="maxl">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                                        </div>
                                        </div>
                                        <input type="submit" class="signup-form btnRegister"/>
                                    </div>
                                </div>
                            </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>