<a href="/teacher"><button type="button" class=" Bck-Home btn btn-secondary btn-sm">Back to Teacher Homepage</button></a>

	<div class="container">
			<div class="col-md-12 table-responsive">
				<table class="table table-bordered table-hover table-sortable" id="tab_logic" style="border-top: 10px solid #ffffff; border-right: 10px solid #ffffff;">
					<thead>
						<tr >
							<th class="text-center">
								Student Name
							</th>
							<th class="text-center">
								Attendance
							</th>
							<th class="text-center">
								Student Notes
							</th>
							<th class="text-center">
								Behavior
							</th>
							<th class="text-center" style="border-top: 10px solid #ffffff; border-right: 10px solid #ffffff;">
							</th>

					</thead>
					<tbody>
						<tr id='addr0' data-id="0" class="hidden">
							<td data-name="name">
								<input type="text" name='name0'  placeholder='Name' class="form-control"/>
							</td>
							<td data-name="form-check">
									<input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
							</td>
							<td data-name="desc">
								<textarea name="desc0" placeholder="Description" class="form-control"></textarea>
							</td>
							<td data-name="sel">
								<select name="sel0">
									<option value="">Select Option</option>
									<option value="1">Is Good</option>
									<option value="2">Acting Out</option>
									<option value="3">Needs further Action</option>
								</select>
							</td>
							<td data-name="del">
								<button name="del0" class='btn btn-danger glyphicon glyphicon-remove row-remove'><span aria-hidden="true">×</span></button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a id="add_row" class="btn btn-primary float-right">Add Row</a>
	</div>
