<div class="container">
    <div class="row mt-4">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <small>Child ID: {{#}}</small>
        <small>Parent ID: {{#}}</small>
      </div>
    </div>