:root {
  --bold1: #fe8a80;
  --bold2: #ffc8e5;
  --bold3: #ee5244;
  --dark1: #7f9803;
  --light1: #c6e62c;
  --dark2: #1d5599;
  --light2: #1473e6;
  --dark3: #993906;
  --light3: #f5a23b;
  --white: white;
  --black: black;
  --slate: rgb(75, 75, 75);
  --grey: rgb(220, 218, 218);
}

/* General Styling applicable to multiple pages */
#application-background {
  /* background-image: url("/css/images/grey-background.jpg");
  background-size: cover; */
  background-color: var(--grey);
}

.app-name {
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: var(--slate);
  font-family: "Merriweather", serif;
}

.create-button {
  padding: 10px;
  background-color: var(--light1);
  border-radius: 10%;
  font-weight: 600;
  color: var(--black);
}

.create-button:hover {
  background-color: var(--dark1);
}

#nav {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  background-color: var(--dark2);
  opacity: 0.8;
  align-items: center;
}

#welcome-user {
  display: block;
  color: var(--light1);
}

#nav a {
  float: left;
  text-align: center;
  padding: 12px;
  color: var(--white);
  text-decoration: none;
  font-size: 17px;
}

#nav a:hover {
  background-color: var(--slate);
}

/* login page styling */
#login-container {
  display: flex;
  justify-content: space-around;
}

#left-display {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  background-color: var(--white);
  padding: 30px;
  margin: 4%;
}
#right-display {
  display: flex;
  flex-direction: column;
}

#left-display img {
  max-width: 100%;
  max-height: 70%;
  margin: 20% 0;
}

#login,
#register {
  background-color: var(--white);
  margin: 4%;
  padding: 20px 10px;
  opacity: 0.8;
}

#login .title,
#register .title {
  color: var(--dark2);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  margin-bottom: 10%;
}

#login label,
#register label {
  color: var(--light2);
  font-size: 25px;
}

#login a,
#register a {
  color: var(--black);
  font-weight: 600;
}
#login a:hover,
#register a:hover {
  color: var(--dark1);
}

#login .need-new-render,
#register .need-new-render {
  color: var(--light2);
  font-size: 20px;
  margin-top: 80px;
  display: inline-block;
}

#login .create-button,
#register .create-button {
  margin: 30px 2% 2% 80%;
}

/* homepage styling */

#homepage {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#daily-fun {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

#homepage .title {
  text-align: center;
  color: var(--white);
  font-size: 25px;
  font-weight: 600;
}

#homepage .card {
  background-color: var(--light2);
  opacity: 0.8;
  border-style: solid 200px;
  padding: 10px;
  margin: 15px;
  color: var(--black);
}

#homepage .assignment-card {
  position: relative;
  height: 575px;
}

#homepage .new-assignment {
  position: absolute;
  bottom: 20px;
  font-size: 12px;
}

#homepage .table-headers {
  font-size: 23px;
  color: var(--light1);
  margin: 10px 0 105px 0;
}

#homepage .assignment-title {
  font-size: 15px;
  font-weight: 500;
}
#homepage .table-content {
  color: var(--black);
  padding: 5px;
  font-size: 17px;
}

/* new-behavior styling */

.new-behavior-card {
  background-color: var(--light2);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  margin-top: 70px;
  display: flex;
  align-content: center;
  margin-right: 200px;
  margin-left: 200px;
}

#description-tag {
  margin-left: 40px;
  font: large;
}

.new-assignment-card {
  background-color: var(--formbkg);
  opacity: 0.95;
  display: flex;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
}

/* student page styling */

.assignment-main {
  padding: 4px;
  justify-content: center;
  justify-content: space-around;
}

.assignment-main-text {
  color: var(--bright);
}
.due-date {
  margin-left: 60px;
}

.new-student-card {
  background-color: var(--light2);
  opacity: 0.9;
  border-radius: 5px;
  margin-top: 70px;
  display: flex;
  align-content: center;
  margin-right: 200px;
  margin-left: 200px;
}
.student-card {
  background-color: var(--light1);
}
.student-button {
  display: flex;
  align-items: center;
  margin-left: 30px;
  width: 100px;
  height: 35px;
  font-size: 10px;
  border-radius: 10%;
  background-color: var(--light1);
}
.new-guardian-card {
  background-color: var(--light2);
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 200px;
  margin-left: 200px;
  margin-top: 70px;
}
.studentId {
  margin-left: 30px;
}
.new-communication-card {
  background-color: var(--light2);
  border-radius: 5px;
  padding: 10px;
  opacity: 0.9;
  margin-top: 70px;
  display: flex;
  align-content: center;
  margin-right: 200px;
  margin-left: 200px;
}
.invisible-text {
  text-align: center;
}

#attendance-form {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--light2);
  justify-content: flex-end;
}

#isPresent {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

/* .table-headers {
  font-size: 20px;
} */

#each-attendance {
  list-style: none;
}

#attendance-student-name {
  font-size: 18px;
}

#attendance-present {
  border-radius: 10%;
  margin-left: 10px;
}

/* #attendance-time {
  background-color: magenta;
}

#attendance-notes {
  background-color: lime;
} */

#save-attendance-btn,
#update-attendance-btn {
  font-size: 18px;
  margin-right: 20px;
  padding: 8px;
  border-radius: 20%;
}

#save-attendance-div {
  margin-left: 30px;
  margin-bottom: 20px;
}

#attendance-table {
  background-color: aqua;
}

/* TABLET */
@media screen and (max-width: 770px) {
  #login-container {
    justify-content: center;
  }

  .app-name {
    font-size: 35px;
  }

  #left-display {
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
  }

  #login .title,
  #register .title {
    font-size: 25px;
  }

  #login label,
  #register label {
    font-size: 20px;
  }

  #login .create-button,
  #register .create-button {
    width: 60px;
    height: 35px;
    font-size: 10px;
  }
  #login .need-new-render,
  #register .need-new-render {
    font-size: 15px;
  }
  .new-behavior-card .studentId {
    margin-inline-start: 20%;
  }
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  #login-container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .app-name {
    font-size: 35px;
  }

  #left-display {
    flex-wrap: wrap;
    max-width: 100%;
  }

  #left-display img {
    display: none;
  }

  #login .title,
  #register .title {
    font-size: 25px;
  }

  #login label,
  #register label {
    font-size: 20px;
  }

  #login .create-button,
  #register .create-button {
    width: 60px;
    height: 35px;
    font-size: 10px;
  }
  #login .need-new-render,
  #register .need-new-render {
    font-size: 15px;
  }

  #logout {
    width: 60px;
    height: 35px;
    font-size: 10px;
  }

  #nav {
    display: flex;
    justify-content: space-between;
  }

  #nav .fa-child,
  #nav .fa-envelope {
    display: none;
  }

  #homepage {
    flex-wrap: wrap;
  }
  #homepage .new-assignment {
    bottom: 20px;
  }
  /* new student page */

  .new-card {
    display: flex;
    width: 90%;
    align-content: flex-start;
    margin-inline-start: 5%;
  }

  .new-card form {
    background-color: var(--dark2);
    width: 100%;
  }
  .new-card label {
    width: 100px;
  }

  #attendance-form {
    display: none;
  }
  #daily-fun {
    width: 300px;
  }
}
