:root {
  --bold1: #fe8a80;
  --bold2: #ffc8e5;
  --dark1: #809906;
  --light1: #c6e62c;
  --dark2: #1d5599;
  --light2: #1473e6;
  --white: white;
  --black: black;
  --slate: rgb(75, 75, 75);
}

/* General Styling applicable to multiple pages */
#application-background {
  background-image: url("/css/images/grey-background.jpg");
  background-size: cover;
}

.app-name {
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  color: var(--slate);
}

.create-button {
  padding: 10px;
  margin: 2% 2% 2% 80%;
  background-color: var(--dark1);
  border-radius: 10%;
  font-weight: 600;
  color: var(--black);
}

.create-button:hover {
  background-color: var(--light1);
}

/* login page styling */
#login,
#register {
  background-color: var(--dark2);
  margin: 4% 15%;
  padding: 20px 5px;
  opacity: 0.8;
}

#login .title,
#register .title {
  color: var(--white);
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

#login label,
#register label {
  color: var(--bold1);
  font-size: 25px;
}

#login a,
#register a {
  color: var(--bold2);
  font-weight: 600;
}
#login a:hover,
#register a:hover {
  color: var(--light1);
}

#login .need-new-render,
#register .need-new-render {
  color: var(--bold1);
  font-size: 20px;
}

/* homepage styling */

.homepage-nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#h1-homepage {
  text-align: center;
}

.page-title {
  text-align: center;
}

.container-homepage {
  background-color: var(--formbkg);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
}
a .studentIndividual {
  margin-left: 60px;
}

div.jumbotron {
  background-color: var(--formbkg);
  opacity: 0.95;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}
.homepage {
  background-image: url(/images/background-image2.jpeg);
}

.card {
  background-color: var(--formbkg);
  opacity: 0.95;
  border-style: solid 200px;
  padding: 30px 30px;
}
.assignments {
  background: var(--formbkg);
}

/* new-behavior styling */

.new-behavior-card {
  background-color: var(--formbkg);
  opacity: 0.95;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}

#description-tag {
  margin-left: 40px;
  font: large;
}

.new-assignment-card {
  background-color: var(--formbkg);
  opacity: 0.95;
  display: flex;
  align-items: center;
  margin-right: 200px;
  margin-left: 200px;
}

/* student page styling */

.title {
  color: var(--bright);
  font-size: 25px;
}

.assignment-main {
  padding: 4px;
  justify-content: center;
  justify-content: space-around;
}

.assignment-main-text {
  color: var(--bright);
}
.due-date {
  margin-left: 60px;
}
.assignment-btn {
  font-size: 12px;
}

.new-student-card {
  background-color: var(--formbkg);
  opacity: 0.9;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}

.new-guardian-card {
  background-color: var(--formbkg);
  opacity: 0.9;
  display: flex;
  margin-right: 200px;
  margin-left: 200px;
}

.invisible-text {
  text-align: center;
}

#attendance-form {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--formbkg);
  justify-content: flex-end;
}

#isPresent {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
}

.table-headers {
  font-size: 20px;
}

#each-attendance {
  list-style: none;
}

#attendance-student-name {
  font-size: 18px;
}

#attendance-present {
  border-radius: 10%;
  margin-left: 10px;
}

/* #attendance-time {
  background-color: magenta;
}

#attendance-notes {
  background-color: lime;
} */

#save-attendance-btn,
#update-attendance-btn {
  font-size: 18px;
  margin-right: 20px;
  padding: 8px;
  border-radius: 20%;
}

#save-attendance-div {
  margin-left: 30px;
  margin-bottom: 20px;
}

#attendance-table {
  background-color: aqua;
}

/* Style the navigation bar */
#nav {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
#nav a {
  display: flex;
  align-content: space-between;
  margin-left: 100px;
  float: left;
  text-align: center;
  padding: 12px;
  color: var(--button);
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
#nav a:hover {
  background-color: #000;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
